@use '../../assets/styles/variables' as *;

.color-picker{
    display: flex;
    gap:$s-gap;
    justify-content: center;
}
.btn-color{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid $white;
}