@use '../../assets/styles/variables' as *;

.player{
  padding: 3rem;
  display: grid;
  grid-template-rows: 2fr;

  &-name{
    font-size: 3rem;
    color:$white;
  }

  &-panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
}